streamlit
st_player
pandas
matplotlib
numpy

Pillow
Scrapy
Twisted
boto
cffi
characteristic
cryptography
cssselect
lxml
pyOpenSSL
pyasn1
pyasn1-modules
pycparser
pymongo
queuelib
scrapy-mongodb
scrapyd
service-identity
six
w3lib
zope.interface
